@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Reset All */
* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-color);
    font-size: 16px;
    line-height: 1.7;
}

/* Reset Tags */
a, li {
    list-style-type: none;
    text-decoration: none;
}

/* Variables */
:root {
    --primary-color: #D8BFD8;
    --secondary-color: #F5F5F5;
    --dark-color: #25150E;
}

/* Container */
.container {
    padding: 1rem;
    margin: 2rem auto;
    max-width: 800px;
    overflow: hidden;
}

/* Margins */
.m {margin: 0.5rem;}
.m-1 {margin: 1rem;}
.mb {margin-bottom: 0.5rem;}
.mb-1 {margin-bottom: 1rem;}
.mt {margin-top: 0.5rem;}
.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}

/* Image Size */
img {
    max-width: 100%;
}

/* Text Sizes */
.x-lg {
    font-size: 2rem;
}

.lg {
    font-size: 1.5rem;
}

.md {
    font-size: 1.2rem;
}

/* Buttons Style */
.btn {
    padding: 0.8rem 1.2rem;
    width: 100%;
    height: clamp(2.5rem, 5vw, 3.5rem);
    text-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 12px;

}
.btn-primary {background-color: var(--primary-color);}
.btn-secondary {background-color: var(--secondary-color);}


/* ====== Web Page Styling CSS ====== */

/* Header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/* Showcase */
.showcase-content {
    padding: 2rem 0;
    border-bottom: 1px solid var(--dark-color);
}

.hero-img img {
    width: 30%;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--primary-color);
}

/* Experience */
.experience {
    padding: 1.5rem 0;
}

.experience-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.card-box {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 14px;
    width: 380px;
    /* aspect-ratio: 1 / 1; */
    height: 240px;
}

/* Skills */
.skill-content {
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.skill-set-list {
    display: flex;
    gap: 18px;
    flex-direction: column;
}

.progress-bar {
    background-color: var(--secondary-color);
    height: 10px;
    width: 100%;
    border-radius: 12px;
}

.html-progress-score {
    background-color: var(--dark-color);
    height: 10px;
    width: 75%;
    border-radius: 12px;
}

.css-progress-score {
    background-color: var(--dark-color);
    height: 10px;
    width: 70%;
    border-radius: 12px;
}

.php-progress-score {
    background-color: var(--dark-color);
    height: 10px;
    width: 85%;
    border-radius: 12px;
}

/* Social Source */
.social-source {
    padding: 2rem 0;
}

.content-box {
    text-align: center;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 0;
    padding: 2rem 0;
}

.social-links img {
    width: 35%;
    border: solid var(--primary-color) 1px;
    border-radius: 6rem;
    padding: 0.5rem;
}

/* Footer */
.footer {
    background-color: var(--dark-color);
    padding: 1.5rem;
}

.text-overlay h1{
    text-align: center;
    color: var(--secondary-color);
}


/* === Responsiveness === */
@media screen and (max-width: 976px) {
    * {
        font-size: 14px;
    }

    /* Text Sizes */
    .x-lg {
        font-size: 1.5rem;
    }

    .lg {
        font-size: 1.2rem;
    }

    .md {
        font-size: 0.8rem;
    }


    /* showcase */
    .showcase-content {
        align-items: center;
        text-align: center;
    }

    /* Experienece */
    .experience-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }
    
    .card-box {
        width: 100%;
        height: 140px;
    }
}